<footer class="bg-dark text-white text-center mt-5 p-3">
    <p>Sistema desenvolvido em Node.js + Firebase</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
